// Дополнительные товары на странице каталога
.additionally-products {
  &__title {
    .set-text(oswald; 24px; 24px);
    color: @black;
  }

  &__list {
    .list-reset;
  }

  &__name {
    .set-text(oswald; 16px; 16px);
    color: #222222;
    text-transform: uppercase;
  }

  &__tara,
  &__price {
    .set-text(lato; 14px; 14px);
    color: @dark-grey;
  }
}
