// Контакты в футере
.contacts__text {
  .set-text(oswald; 16px; 20px);
  text-transform: uppercase;
  color: #111111;
}

.address__text {
  .set-text(lato; 14px; 20px);
  font-style: normal;
  color: @dark-grey;
}
