// программа похудения или набора массы
.diet__list {
  padding: 0;
  margin: 0;
}

.diet__title {
  .set-text(oswald; 24px; 37px);
  text-transform: uppercase;
}

.diet__description {
  .set-text(lato; 14px; 18px);
  color: @dark-grey;
  margin-top: 29px;
  margin-bottom: 42px;
}

.diet__link {
  .set-text(oswald; 16px; 16px);
  text-transform: uppercase;
  color: @black;
  text-decoration: none;
}
